/* Reset de estilos para remover margens e preenchimentos padrão */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

/* Estilos para o cabeçalho */
header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

/* Estilos para a navegação */
nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Estilos para seções */
section {
    margin: 20px;
}

/* Estilos para projetos */
.project {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

section#sobre {
    padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

section#formacao {
    padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

/* Estilos para Contato */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 150px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}